.chain_modal_main_container {
  .chaim_modal_container {
    .ant-btn {
      line-height: 0;
      height: auto;
      padding: 3px;
      border-radius: 50%;
      img {
        height: 40px;
        border-radius: 50%;
      }
      .input-field {
        width: 100%;
        
      }
    }
  }
}
